{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop"></div>
      <h1 class="govuk-heading-xl">Check your answers before submitting your details</h1>

      <h2 class="govuk-heading-m">Personal details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['forename'] }} {{data['surname'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="userdetails">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Work email address
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['workemail'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="userdetails">
              Change
              <span class="govuk-visually-hidden"> work email address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            MoJ Business Group
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['usergroup'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="userdetails">
              Change
              <span class="govuk-visually-hidden"> MoJ Business Group</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Group Area
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['grouparea'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="userdetails">
              Change
              <span class="govuk-visually-hidden"> group area</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Line Manager Email address
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['manageremail'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="userdetails">
              Change
              <span class="govuk-visually-hidden"> line manager email address</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Conflict of Interests details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do you have any outside financial interests or remunerated work, including paid employment, paid advisory work, and paid non-executive work?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['interestsyesno'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="conflict">
              Change
              <span class="govuk-visually-hidden"> previous application number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            If you answered yes, please provide brief details including the level of remuneration
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['renumdetails'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="conflict">
              Change
              <span class="govuk-visually-hidden"> licence type</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Details of any non-financial interests
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['nonfinancials'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="conflict">
              Change
              <span class="govuk-visually-hidden"> licence type</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Confirmation that all interests, financial and non-financial, are included in the register of interests
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['allinterests'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="conflict">
              Change
              <span class="govuk-visually-hidden"> licence type</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Where an interest has been declared I confirm that I have both discussed this with my line manager and completed the declarations of interest form
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['discussedwithmanager'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="conflict">
              Change
              <span class="govuk-visually-hidden"> licence type</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Now send your application</h2>

      <p>By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <form action="/confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Accept and send
        </button>

      </form>

    </div>
  </div>
{% endblock %}
