{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Conflict of Interest details</h1>

      <form class="form" action="conflicty" method="post">

        <p>{% from "govuk/components/select/macro.njk" import govukSelect %}

          {{ govukSelect({
            id: "interestsyesno",
            name: "interestsyesno",
            label: {
              text: "Do you have any outside financial interests or remunerated work, including paid employment, paid advisory work, and paid non-executive work?",
              classes: "govuk-label--m" 
            },
            items: [
              {
                value: "Yes",
                text: "Yes"
              },
              {
                value: "Nothing to declare",
                text: "No",
                selected: true
              }
            ]
          }) }}</p>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>
    </div>
  </div>

{% endblock %}