{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Conflict of Interest details</h1>

      <form class="form" action="check-your-answers" method="post">

        <p>{% from "govuk/components/select/macro.njk" import govukSelect %}

          {{ govukSelect({
            id: "interestsyesno",
            name: "interestsyesno",
            label: {
              text: "Do you have any outside financial interests or remunerated work, including paid employment, paid advisory work, and paid non-executive work?",
              classes: "govuk-label--m" 
            },
            items: [
              {
                value: "interestsyes",
                text: "Yes"
              },
              {
                value: "interestsno",
                text: "No",
                selected: true
              }
            ]
          }) }}</p>
          <p>{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

            {{ govukTextarea({
              label: {
                text: "If you answered yes, please provide brief details including the level of remuneration ",
                classes: "govuk-label--m",
                isPageHeading: true
              },
              id: "renumdetails",
              name: "renumdetails"
            }) }}</p>

          <p>{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
            {{ govukTextarea({
           
              label: {
                text: " Details of any non-financial interests",
                classes: "govuk-label--m",
                isPageHeading: true
              },
              id: "nonfinancials",
              name: "nonfinancials"
            }) }}
        </p>
          <p>{% from "govuk/components/select/macro.njk" import govukSelect %}

                {{ govukSelect({
                  id: "allinterests",
                  name: "allinterests",
                  label: {
                    text: "Confirmation that all interests, financial and non-financial, are included in the register of interests",
                    classes: "govuk-label--m"
                  },
                  items: [
                    {
                      value: "allyes",
                      text: "Yes",
                      selected: true
                    },
                    {
                      value: "allno",
                      text: "No"
                    }
                  ]
                }) }}</p>
                <p>{% from "govuk/components/select/macro.njk" import govukSelect %}

                  {{ govukSelect({
                    id: "discussedwithmanager",
                    name: "discussedwithmanager",
                    label: {
                      text: "Where an interest has been declared I confirm that I have both discussed this with my line manager and completed the declarations of interest form. ",
                      classes: "govuk-label--m"
                    },
                    items: [
                      {
                        value: "discussedyes",
                        text: "Yes",
                        selected: true
                      },
                      {
                        value: "discussedno",
                        text: "No"
                      }
                    ]
                  }) }}</p>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
